<p id="notice"><%= notice %></p>

<h1>Lista uzytkownikow</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Email</th>
      <th>Aktywny</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.active %></td>
<<<<<<< HEAD
        <td><%= link_to 'Pokaz', user %></td>
        <td><%= link_to 'Edytuj', edit_user_path(user) %></td>
        <td><%= link_to 'usun', user, method: :delete, data: { confirm: 'Czy jestes pewnien?' } %></td>
=======
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> 8556854a4dd37a77f070fb968992ace09d1b6008
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy uzytkownik', new_user_path %>
