<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Aktywny:</strong>
  <%= @user.active? ? "Prawda" : "Fałsz" %>
</p>

<%= link_to 'Edytuj', edit_user_path(@user) %> |
<%= link_to 'Cofnij', users_path %>
